@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.expert-report-banner {
  font-family: Montserrat;
  width: 100vw;
  max-width: 1250px;
  height: 166px;
  border-radius: 8px;
  overflow: hidden;
}

.expert-report-main-content {
  display: flex;
  float: right;
  width: 68%;
  height: 100%;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  color: #ffffff;
  background: #003E49;
  padding: 24px; 
}

@media screen and (max-width: 960px) {
  .expert-report-banner {
    min-width: 300px;
    height: auto;

  }
  .expert-report-main-content {
    float: none;
    flex-direction: column;
    width: 100vw;
  }
}